.tablillas {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 3em;

  //   padding-bottom: 3em;
  padding: 3em;
  padding-top: 2em;
  //   width: 75%;
}

.tablilla {
  // Background
  //   background-color: $color-dark-brown 50%;
  background-image: linear-gradient(
      to right,
      transparent,
      rgba($color-dark-brown, 0.6) 25%,
      rgba($color-dark-brown, 0.6) 75%,
      transparent
    ),
    url("../../assets/images/tablilla.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1em;
  width: 100%;

  // Customization
  transition: 0.5s;
  filter: drop-shadow(0 0 5px $color-light-brown);
  color: $color-light-brown;

  // Content
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 1em;
  text-align: center;

  h3 {
    filter: drop-shadow(0 0 5px $color-dark-brown);
  }

  &-text {
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    p {
      text-shadow: 0px 0px 5px $color-dark-brown;
    }
  }

  &:hover {
    filter: drop-shadow(0 0 10px $color-white);

    // h3 {
    //   filter: drop-shadow(0 0 5px $color-light-brown);
    // }
    color: $color-white;
  }
}
