.navbar {
  position: fixed;
  top: $header-height; // Ajusta la posición vertical según la altura del header
  left: 0;

  width: 100%;
  height: $nav-height;

  background-color: $color-dark-brown;
  //   background-image: linear-gradient(to right, $color-dark-brown, $color-green);
  //   background-image: radial-gradient(circle, $color-green, $color-dark-brown);
  display: flex;
  justify-content: center;

  z-index: 100;

  @include border(
    5px ridge $color-light-brown,
    _,
    5px groove $color-light-brown,
    _
  );

  filter: drop-shadow(0 0 2px $color-light-brown);

  // z-index: 1;
}

.navbar-nav {
  .nav-item {
    .nav-link {
      color: $color-light-brown;

      &:hover {
        color: $color-white;
        filter: drop-shadow(0 0 2px $color-light-brown);
      }
    }
  }

  .dropdown-menu {
    background-color: $color-dark-brown;

    .dropdown-item {
      color: $color-light-brown;

      &:hover {
        color: $color-dark-brown;
        background-color: $color-light-brown;
      }
    }

    .dropdown-divider {
      background-color: $color-light-brown;
    }
  }
}
