* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: $font-zilla-slab;
  font-weight: 500;
}

// Necesario cuando se trabaja con Bootstrap
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  // font-weight: 500;
}
