// FONTS

// Sans
$font-open-sans: "Open Sans", sans-serif;
$font-ubuntu: "Ubuntu", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-noto-sans-cuneiform: "Noto Sans Cuneiform", sans-serif;

// Serif
$font-lora: "Lora", serif;
$font-noto-serif: "Noto Serif", serif;
$font-bitter: "Bitter", serif;
$font-eb-garamond: "EB Garamond", serif;
$font-zilla-slab: "Zilla Slab", serif;

// Colors
// https://coolors.co/31220e-d6a964-ad343e-5b7553-2274a5
$color-dark-brown: #31220e;
$color-light-brown: #d6a964;
$color-red: #ad343e;
$color-green: #5b7553;
$color-blue: #2274a5;
$color-white: rgb(224, 224, 224);

// Dimensions
$header-height: 4em;
$nav-height: 3em;

// Bootstrap
// :root {
//   --bs-accordion-border-color: $color-light-brown;
// }
